mixin link(link)
	.col-sm-4
		article(role="article", itemscope itemtype="http://schema.org/BlogPosting").post-card
			div.poviFrame
				iframe(src=link.href, allowfullscreen, frameborder='0')
			.post-summary
				h5(itemprop='name').post-title
					a(href='/vods/vod/' + link.slug, itemprop='url')=link.label
				.post-content-brief(itemprop='description')
					<strong>Hero: </strong> 
					each cat, index in link.tags
						if link.tags.length > 1
							if index == link.tags.length - 1
								a(href='/vods/' + cat.key)= cat.name
							else
								a(href='/vods/' + cat.key)= cat.name
								|, 
						else
							a(href='/vods/' + cat.key)= cat.name
					if link.map
						br
						<strong>Map: </strong>
						=link.map
					if link.skill
						br
						<strong>Skill: </strong>
						=link.skill
