include ../mixins/flash-messages
include ../mixins/auth/auth-forms

doctype html
html

	//- HTML HEAD
	head
		if env == 'production' && chartbeat_property && chartbeat_domain
			script.
				var _sf_startpt=(new Date()).getTime()
		
		meta(charset="utf-8")
		meta(name="viewport", content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width")
		if post
			if post.meta.title
				meta(name="og:title", content=post.meta.title)
				meta(name="twitter:title", content=post.meta.title)
			else
				meta(name="og:title", content=post.title)
				meta(name="twitter:title", content=post.title)
			if post.meta.description
				meta(name="description", content=post.meta.description)
				meta(name="og:description", content=post.meta.description)
				meta(name="twitter:description", content=post.meta.description)
			else
				meta(name="description", content=post.content.brief)
				meta(name="og:description", content=post.content.brief)
				meta(name="twitter:description", content=post.content.brief)
			meta(property="og:type", content="article")
			meta(property="twitter:card", content="summary_large_image")
			meta(property="twitter:image:src", content=post.image.url)
			meta(property="og:image", content=post.image.url)
			meta(property="article:published_time", content=post.publishedDate)
			- var categories = [];
			each category in post.categories
				meta(property="article:tag", content=category.key)
		meta(property="keywords", content="Overwatch, Overwatch Strategy, Overwatch Meta, Overwatch Guides, Overwatch Esports, Competitive Overwatch")
		meta(property="og:image", content="/images/logosq.png")
		meta(property="twitter:image:src", content="/images/logosq.png")
		title= page.title
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
		link(href="/styles/site.min.css", rel="stylesheet")
		
		if user && user.canAccessKeystone
			link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")

		block css
		block head

	//- HTML BODY
	body(class=section ? 'sitesection-' + section : null)
		.site-wrapper
			
			//- APP ALERT
			//- if section == 'home'
			//- 	include ../includes/layout/app-alert

			//- SITE HEADER
			include ../includes/layout/header
			
			//- SITE BODY
			block body
				main.site-body(role='main')

					block intro

					block flash-messages
						+flash-messages(messages)

					block content
						
			//- SITE FOOTER
			//block footer
				include ../includes/layout/footer


		//- MODALS
		block modal
		if !user
			#modal-auth(tabindex="-1", role="dialog", aria-labelledby="signin", aria-hidden="true").modal.fade
				.modal-dialog
					.modal-content
						+auth-forms({ modal: true, initial: 'signin' })

	//- JAVASCRIPT
	//script.
		var SydJS = {};
		SydJS.meetup = !{JSON.stringify(meetup)};

	script(src='/js/lib/jquery/jquery-1.10.2.min.js')
	script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js')
	script(src='/js/lib/bootstrap/collapse.js')
	script(src='/js/lib/bootstrap/dropdown.js')
	script(src='/js/lib/bootstrap/modal.js')

	//- Headroom
	//-script(src="//cdn.jsdelivr.net/headroomjs/0.5.0/headroom.min.js")
	//-script(src="//cdn.jsdelivr.net/headroomjs/0.5.0/jQuery.headroom.min.js")
	//-script(src='/js/common/header.js')

	if user && user.canAccessKeystone
		script(src='/keystone/js/content/editor.js')
	
	script(src='/js/ui.js')

	
	//- ANALYTICS
	include ../includes/layout/analytics
	
	block js
