extends ../../layouts/default


//- INCLUDES
include ../../mixins/post
include ../../mixins/meetup-talk
include ../../mixins/advertisement

//- INTRO
block intro

	//- HERO
	if !meetup
		h2.text-center You've just deployed a new site! Go add some data :)
	else
		article#hero.hero-meetup.hero-meetup--next
			
			//- Intro
			section.hero-intro.hero-intro--hasmask
				.hero-background
					//-img(src='/images/placeholders/sydney-1.jpg')
				.hero-intro-content
					div(class= 'col-md-12 featured')
						if data.featured.length
							.post-cards.row(itemscope itemtype="http://schema.org/Blog")
								each post in data.featured
									+post(post)


//- BODY
block content
	.page-content
		.row
			div(class= data.categories.length || !data.posts.length ? 'col-md-10' : 'col-md-10 col-md-offset-1')
				if filters.category && !data.category
					h3 Invalid Category.
				else
					if data.featured.length
						.post-cards.row(itemscope itemtype="http://schema.org/Blog")
							each post in data.posts
								+post(post)
			//if data.categories.length
				.col-md-2
					if data.categories.length
						h5.text-muted Filter by tag
						ul.list-unstyled.tags-list
							li: a(href='/overwatch', class=!data.categories ? 'active' : false) All
							each tag in data.categories
								li: a(href='/overwatch/' + tag.key, class=data.category && data.category.id == tag.id ? 'active' : false).list-group-item= tag.name
		//- About
		//article.section.section--featured.home-about: .container
			h2 In Sydney and into JavaScript? You need to join SydJS!
			.row: .col-sm-8.col-sm-offset-2
				p.lead Every 3rd Wednesday of the month you'll find us talking about what we're doing and what's happening around us in the world of JavaScript.
			if !user
				.row: .col-sm-4.col-sm-offset-4
					a(href='/join', data-from=page.path).js-auth-trigger.btn.btn-lg.btn-block.btn-primary.mv-1
						span.text-caps Join SydJS now
			p.mt-1
				a(href='/about') Learn more about SydJS
				|  &nbsp;&middot;&nbsp; 
				a(href='/members') Find your friends in SydJS
			p.mt-1: a(href="https://twitter.com/sydjs", class="twitter-follow-button", data-show-count="true", data-size="large") Follow @sydjs
//- JS
block js

	if meetup
		script.
			SydJS.currentMeetupId = !{JSON.stringify(meetup.id)};
	if user
		script.
			SydJS.user = !{JSON.stringify(user)};

	//- REACT SCRIPTS
	script(src='/js/packages.js')
	//script(src='/js/home.js')
	script.
		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
	if google_api_key
		script(src!='https://maps.googleapis.com/maps/api/js?key=' + google_api_key + '&sensor=false&libraries=places')
