extends ../../layouts/default

block content
	.container-sm
		a(href='/overwatch').text-muted &larr; Back
		article.full-post
			if !post
				h2 Invalid Post.
			else
				header
					h2.blog-post__title= post.title
					//- sharing buttons
				.post-content-brief(itemprop='description')!= post.content.brief
				if post.image.exists
					.post-image.mv-1: img(src=post._.image.fit(720,420)).img-responsive.img-thumbnail
				|	
				| <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				| <!-- overwatchly post -->
				| <ins class="adsbygoogle"
				|      style="display:block"
				|      data-ad-client="ca-pub-9309581458025353"
				|      data-ad-slot="6738127624"
				|      data-ad-format="auto"></ins>
				| <script>
				| (adsbygoogle = window.adsbygoogle || []).push({});
				| </script>
				| 
				!= post.content.full
				|	
				| <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				| <!-- overwatchly post -->
				| <ins class="adsbygoogle"
				|      style="display:block"
				|      data-ad-client="ca-pub-9309581458025353"
				|      data-ad-slot="1364088427"
				|      data-ad-format="auto"></ins>
				| <script>
				| (adsbygoogle = window.adsbygoogle || []).push({});
				| </script>
				| 
				p.blog-post__byline Posted
						if post.author
							|  by&nbsp;
							a(href='/members', rel='author')=post.author.name.full
						if post.publishedDate
							|  on #{post._.publishedDate.format('MMMM D, YYYY')}
						if post.categories && post.categories.length
							|  in&nbsp;
							each cat, cat_i in post.categories
								a(href='/overwatch/' + cat.key)= cat.name
								if cat_i < post.categories.length - 1
									| ,&nbsp;
								else
									|&nbsp;	
				if post.state = 'published'
					.mt-1: .alert.alert-danger 
						| We are giving away a <strong>FREE $50 Battle.net Gift Card</strong>! Simply 
						a(href='/join', data-from=page.path class="promote").js-auth-trigger <strong>Join</strong> 
						|or <strong>Tweet</strong> a post to be eligible.
				.share-buttons
					span.share-button
						a(href="https://twitter.com/share", data-via="overwatchly", data-hashtags="Overwatch", data-count="button", data-dnt="true").twitter-share-button Tweet
				- Comment
					.comments
						//h4.mb-1=post.comments.length == 0 ? 'Be the first to reply' : plural(post.comments.length, '* comment', '* comments')
						for comment in post.comments
							if comment.author
								.comment.media
									.pull-left
										img(src=comment.author.photo.exists ? comment.author._.photo.thumbnail(60,60) : '/images/placeholders/user-60x60.jpg', alt=comment.author.name.full, width=40, height=40).media-object.img-circle
									.media-body
										h6.mt-0
											=comment.author.name.full
											span.text-muted  &middot; #{moment(comment.publishedOn).fromNow()}
										!=comment.content.html
						if user
							//- Reply form
							form(method='post').comment-form.mt-5
								input(type='hidden', name='action', value='create-comment')
								.media
									.pull-left
										img(src=user.photo.exists ? user._.photo.thumbnail(60,60) : '/images/placeholders/user-60x60.jpg', alt=user.name.full, width=40, height=40).img-responsive.img-circle
									.media-body
										textarea(placeholder='Add your comment...', name='content').form-control
										.mv-1
											button(type='submit').btn.btn-success Submit
						if !user
							//- Join
							.mv-1
								a(href='/join', data-from-page.path).js-auth-trigger
									button.btn.btn-success Join to comment
block js
	script(src='/js/common/share.js')
	script(src="https://apis.google.com/js/plusone.js")
